aside {
  nav.toc {
    position: absolute;
    margin-top: 50px;
    width: 260px;

    h2 {
      font-size: 25px;
      margin: 0 8px;
    }

    ul {
      padding-left: 0;
      margin-top: 0;

      li {
        @media only screen and (max-width: 1440px) {
          a {
            font-size: 13px !important;
          }
        }

        a {
          font-size: 15px;
          margin-left: 0;
        }
        list-style: none;
      }
    }
  }
}

.article {
  margin-top: -30px;
  padding-bottom: 50px;
  color: var(--text-secondary);
  line-height: 1.65;
  word-break: normal;

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 20px 0;
    color: var(--text-primary);

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
  }

  p {
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 0;
  }

  pre {
    white-space: pre-wrap;
  }

  img {
    display: block;
    max-width: 90%;
    height: auto;
    border-radius: 6px;
    box-shadow: 2px 3px 5px 2px #4a4a4a1a;
  }

  a {
    color: var(--text-primary);
    text-underline-offset: 4px;
    font-weight: 500;
  }

  ul,
  ol {
    padding-inline-start: 2.5em;
    li {
      margin: 10px 0;

      &::marker {
        font-weight: 500;
      }
    }
  }

  code {
    display: inline-block;
    font-size: 0.9em;
    color: var(--code-text);
    background-color: var(--code-background);
    padding: 0 4px;
    font-weight: 600;
    border-radius: 4px;
  }
}

/* Media Query for mobile device (600px) */
@media (max-width: 600px) {
  aside {
    nav.toc {
      display: none;
    }
  }
  .article {
    margin-top: -16px;
    padding-bottom: 20px;
    font-size: 12px;

    h1,
    h2,
    h3,
    h4 {
      margin: 10px 0;
    }

    h1 {
      font-size: 23px;
    }

    h2 {
      font-size: 21px;
    }

    h3 {
      font-size: 19px;
    }

    h4 {
      font-size: 17px;
    }

    p {
      font-size: 15px;
      line-height: 1.5;
      margin: 10px 0;
    }

    ul,
    ol {
      font-size: 15px;
      padding-inline-start: 2em;
      li {
        margin: 10px 0;
      }
    }
  }
}
