aside {
  nav.toc {

    position: absolute;
    margin-top: 50px;
    width: 300px;

    h2 {
      font-size: 25px;
      margin: 0 8px;
    }

    ul {
      padding-left: 0;
      margin-top: 0;

      li {
        @media only screen and (max-width: 1440px) {
          a {
            font-size: 13px !important;
          }
        }

        a {
          font-size: 15px;
          margin-left: 0;
        }
        list-style: none;
      }
    }
  }
}

.article {
  margin-top: -30px;
  padding-bottom: 50px;
  color: #191919;

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 20px 0;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
  }

  p {
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 0;
  }

  pre {
    white-space: pre-wrap;
  }

  img {
    max-width: 90%;
    margin: 10px auto;
    height: auto;
    border-radius: 6px;
    box-shadow: 2px 3px 5px 2px #4a4a4a1a;
  }

  a {
    color: #191919;
    text-underline-offset: 4px;
    font-weight: 500;
  }

  ul,
  ol {
    padding-inline-start: 2.5em;

    li {
      margin: 10px 0;

      &::marker {
        font-weight: 500;
      }
    }
  }

  code {
    font-size: 0.9em;
    color: #131212;
    background-color: rgb(151 151 151 / 30%);
    padding: 2px 4px;
    font-weight: 600;
    border-radius: 4px;
  }
}