@font-face {
  font-family: "Notable";
  src: url("/fonts/Notable-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Imprima";
  src: url("/fonts/Imprima-Regular.ttf") format("truetype");
}

header {
  display: flex;
  gap: 20px;

  .logo {
    background-image: var(--logo-image);
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  a {
    text-decoration: none;
    color: var(--text-primary);
  }

  h1 {
    font-family: "Notable";
    font-size: 48px;
    margin-bottom: 10px;
  }

  div {
    font-size: 21px;
    font-family: "Imprima";
    margin-left: 5px;
  }

  @media only screen and (max-width: 900px) {
    h1 {
      font-size: 30px;
      margin-top: 40px;
    }
    div {
      font-size: 18px;
    }
  }
}

/* Media Query for 600px */
@media (max-width: 600px) {
  header {
    gap: 15px;
    margin-bottom: 10px;

    .logo {
      margin: 10px 0 0 15px;
      min-width: 70px;
      width: 60px;
      height: 110px;
    }

    h1 {
      font-size: 20px;
      margin-bottom: 10px;
      margin-top: 30px;
      text-wrap: nowrap;
    }

    div {
      font-size: 14px;
      margin-left: 0;
      margin-right: 20px;
    }
  }
}