.crossword {
  width: 60%;
  min-width: 60%;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}

.clues {
  display: none;
}

/* Media Query for mobile device (600px) */
@media (max-width: 600px) {
  .crossword {
    width: 90vmin;
    height: 90vmin;
    min-width: 300px;
    min-height: 300px;
  }
}
