.notice {
  font-size: 48px;
  font-weight: 500;
  margin-left: 80px;
  text-align: center;
}

.member {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;

  align-items: center;

  .meta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;

    .avatar {
      width: 150px;
      height: 150px;
      border: 3px solid black;
    }

    .name {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 8px;
    }

    .intro {
      text-align: center;
      line-height: 1.5;
    }
  }
}

/* Media Query for mobile device (600px) */
@media (max-width: 600px) {
  .member {
    position: absolute;
    justify-content: flex-start;
    top: 26px;
    width: 50vmin;
    height: 76vmin;
    min-width: 150px;
    background-color: #ffe6e6;
    border: 2px solid black;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);

    .meta {
      width: 92%;
      margin-top: 26px;

      .avatar {
        width: 75%;
        height: 75%;
        border: 2px solid black;
      }

      .name {
        font-size: 18px;
        margin: 10px 0 6px 0;
      }

      .intro {
        font-size: 11px;
        margin: 0 10px 10px 10px;
      }
    }
  }
}
