@import url("./var.scss");

body {
  padding: 0;
  margin: 0;
  height: 100dvh;
  overflow-y: auto;
  background-color: var(--background);
  color: var(--text-primary);
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

  @media only screen and (max-width: 1440px) {
    #root {
      margin-left: 12%;
      margin-right: 20%;

      main {
        gap: 80px;
      }
    }
  }

  @media only screen and (max-width: 1000px) {
    #root {
      width: 90%;
      margin: 0 auto;

      main {
        margin-left: 20px;
        width: 100%;
      }
    }
  }
}

#root {
  width: min(70vw, 1440px);
  margin: 0 auto;

  main {
    margin-left: 128px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 85%;
    gap: 150px;

    article {
      flex: 1 1 auto;
      min-width: 0;
      display: flex;
      align-items: flex-start;
      gap: 60px;
      line-break: auto;
    }

    aside {
      align-self: flex-start;
      top: 50px;
      position: sticky;
      flex: 0 0 120px;
    }

    .article-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      padding-bottom: 50px;
    }

    .article-page {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .tag-selector {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 20px;
      padding: 10px 0;
      border-bottom: 1px solid var(--border-color);

      button {
        background: none;
        border: none;
        color: var(--text-primary);
        font-size: 16px;
        letter-spacing: 0.5px;
        text-decoration: none;
        padding: 5px 10px;
        cursor: pointer;

        &.active,
        &:hover {
          font-weight: 600;
          text-underline-offset: 3px;
          text-decoration: underline;
        }
      }
    }

    .article {
      width: 100%;
    }
  }
}

/* Media Query for mobile device (600px) */
@media (max-width: 600px) {
  body #root {
    margin: 0;
    width: 100vw;

    main {
      margin-left: 0;
      flex-direction: column;
      margin-top: 0;
      width: 100%;
      gap: 0px;

      aside {
        order: -1;
        flex: 0 1 30px;
        margin-left: 22px;
        position: static;
        display: flex;
        width: calc(100% - 45px);
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
      }

      article {
        flex-direction: column;
        align-items: center;
        margin: 20px;
        position: relative;
      }

      .article-list {
        gap: 10px;
        padding-bottom: 20px;
      }
    }
  }
}
