.envelope {
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  background-color: var(--bg-color);
  color: var(--color);
  padding: 10px 20px;
  max-width: 720px;
  min-width: 400px;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color);

  .header {
    display: flex;
    justify-content: space-between;

    > h3 {
      font-size: 25px;
      margin: 10px 0;
    }

    .date {
      font-size: 12px;
    }
  }

  .tags {
    display: flex;
    gap: 10px;
    margin: 10px 0;
    flex-wrap: wrap;

    > span {
      font-size: 15px;
      background-color: var(--color);
      color: var(--bg-color);
      padding: 5px 10px;
      border-radius: 5px;
    }
  }

  .stamp {
    position: absolute;
    right: 20px;
    bottom: 10px;
  }
}

/* Media Query for mobile device (600px) */
@media (max-width: 600px) {
  .envelope {
    width: 100%;
    min-width: 200px;
    min-height: 150px;
    box-sizing: border-box;

    .header {
      h3 {
        font-size: 20px;
        width: 70%;
      }
    }

    .tags {
      > span {
        font-size: 12px;
      }
    }

    .postmark-stamp {
      size: 80px;
    }
  }
}
